.node {
    cursor: pointer;
}
.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}
.node--leaf {
    fill: white;
}
.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
}
.label,
.node--root,
.node--leaf {
    pointer-events: all;
}
.bubble-row {
    overflow: scroll;
}
/* 设置下拉框的样式 */
